{% extends "base.html" %}

{% block content %}
    <h1>Select Model and Upload Image</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h4>
            Model:
        </h4>
        <p>
            {{ form.model }}
        </p>
        <h4>
            Image:
        </h4>
        <div>
            <input class="btn btn-outline-secondary" type="button" id="UploadFile" value="Upload"
                   onclick="document.getElementById('file').click();" />
            <input type="file" style="display:none;" id="file" name="file"/>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <h6>{{ message }}</h6>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <p></p>
        <input type="submit" value="Submit" class="btn btn-dark mb-2">
    </form>
{% endblock %}