{% extends "base.html" %}

{% block content %}

    <h1>Select Model and Upload Image</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h4>
            Model:
        </h4>
        <p>
            {{ form.model }}
        </p>
        <h4>
            Image:
        </h4>
        <div>
            <input class="btn btn-outline-secondary" type="button" id="UploadFile" value="Upload"
                   onclick="document.getElementById('file').click();" />
            <input type="file" style="display:none;" id="file" name="file"/>
        </div>
        <p></p>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}